body{
    background: rgba(186, 212, 255,0.5);
}

img{
    width: 400px;
    height: 200px;
    transition: 0.5s all;
    cursor: pointer;
}

.content, .sidebar{
    animation-name: fade-in;
    animation-duration: 2s;
}

img:hover{
    transform: scale(1.05);
}

#main{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 10px;
    width: 100%;
}

.sidebar{
    background: rgb(255, 227, 191);
}

.image-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.image-grid > img{
    margin: 10px;
}

#image-1{
    float: right;
    margin: 15px;
    height: 300px;
}

.post{
    border: 2px solid rgb(229, 158, 66);
    margin: 10px;
}

.post-title{
    margin-left: 5px;
}

.post-text{
    margin-left: 5px;
    margin-right: 5px;
}

.post > a{
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    color: blue;
    transition: 0.5s all;
}

.post > a:hover{
    color: steelblue;
    text-decoration: underline;
}

@keyframes fade-in{
    from {opacity: 0;}
    to {opacity: 1;}
}