@import "vars";
@import "mixins";

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

// 1: operators
// 2: variables
// 3: nesting
// 4: mixin and include
// 5: parameters
// 6: partials
html{
    font-size: 62.5%;//10px
}

.main-header{
    @include mainflexprop;
    width: 100vw;
    height: 100vh;
    // display: grid;
    // place-items: center;
    background: $bg-color;

    h1{
        @include simplefont(.3rem, lowercase);
        &:hover{
            color: salmon;
        }

        &::after{
            content: " SCSS";
        }
    }
    
    p{
        @include simplefont(1rem, capitalize);
    }    
}